<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <a href="/new">Add new message to the board</a>
  <ul>
    <% messages.forEach((message, index)=> { %>
      <li><%- message.text %> from <%- message.user %>

            <a href="/details/<%= index %>" target="_blank">Check details</a>

      </li>
      <% }); %>

  </ul>

</body>

</html>